* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(189, 226,227);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #dbe4e5;
    padding: 40px;
    box-shadow: 0 4px 10px rgb(26,18,99);
    text-align: center;
    border-radius: 10px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 6px;
    margin-bottom: 30px;
    border: 1px solid rgb(106,97,185);
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: rgb(85, 85, 142);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
    display: block;
    margin: 0 auto;
}

button :hover {
    background-color: rgb(65,65,69);
}

.potter-info {
    margin-top: 20px;
    display: none;
}

.potter-info img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
}

.potter-info {
    width: 100px;
    display: none;
}

.potter-info img {
    width: 100px;

}

